<li>{{post.title}} by {{post.author}} ({{post.category}})
  <img src={{post.image}}>

  {{update-post post=post update="update"}}
  <button class="btn btn-primary" {{action 'delete' post}}>Delete</button>

</li>
