<h1>Welcome!</h1>

<br>
You have come to the right place for all your couscous needs.
<br>
<br>

<ul>
  {{#each model as |post-unit|}}
    <!-- <li>{{post.title}} by {{post.author}} ({{post.category}})<img src={{post.image}}></li><br> -->
    {{post-tile post=post-unit update="update" destroyPost="destroyPost"}}
  {{/each}}
</ul>

<!-- {{new-post save2="save3"}} -->
